# OpenAI Generator temp file
openapi-sanitized-tmp.yaml
openapi-sanitized-tmp.json

# Generated specs
openapi.json

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# MacOS
.DS_Store

# Generated SDKs
generated_sdks/
