# OpenAI Generator temp files
openapi-sanitized-tmp.yaml
openapi-sanitized-tmp.json
openapi-temp-validate.yaml

# Generated specs
openapi.json

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# MacOS
.DS_Store

# Generated SDKs
generated_sdks/
